// 文件上传组件删除弹出框的样式
.el-popper {
  width: 160px;
  height: 68px;
  padding: 10px 5px 0 7px;
  margin-left: -120px;

  .el-popconfirm__main {
    font-size: 12px;
    color: #515151;
    margin-bottom: 8px;

    i {
      display: none;
    }
  }

  &[x-placement^=top] {
    // margin-bottom: 0px;

    .popper__arrow {
      left: 132px !important;
      right: 18px;
    }
  }

  &[x-placement^=bottom] {
    // margin-top: 1px;

    .popper__arrow {
      left: 132px !important;
      right: 18px;
    }
  }

  .el-popconfirm__action {
    text-align: center;

    .el-button {
      width: 60px;
      height: 20px;
      padding: 0;
    }

    .el-button--text {
      border: 1px solid rgba(239, 244, 255, 1);
      color: #AEAEAE;
    }

    .el-button--primary {
      background-color: #0046FE;
    }
  }
}